*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  /*Defines what 1 rem is
  In this case 10 px.*/
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999;
  padding: 3rem;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /*used to hide shaking in the animation*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #78d56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(10deg) skewX(12deg);
  text-shadow: 0.5rem 1rem 2rem rgba(9, 9, 9, 0.2);
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem;
}

.u-margin-bottom-5 {
  margin-bottom: 5rem;
}

.u-margin-bottom-6 {
  margin-bottom: 6rem;
}

.u-margin-bottom-7 {
  margin-bottom: 7rem;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-9 {
  margin-bottom: 9rem;
}

.u-margin-bottom-10 {
  margin-bottom: 10rem;
}

.u-margin-top-1 {
  margin-top: 1rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-top-4 {
  margin-top: 4rem;
}

.u-margin-top-5 {
  margin-top: 5rem;
}

.u-margin-top-6 {
  margin-top: 6rem;
}

.u-margin-top-7 {
  margin-top: 7rem;
}

.u-margin-top-8 {
  margin-top: 8rem;
}

.u-margin-top-9 {
  margin-top: 9rem;
}

.u-margin-top-10 {
  margin-top: 10rem;
}

.u-margin-right-1 {
  margin-right: 1rem;
}

.u-margin-right-2 {
  margin-right: 2rem;
}

.u-margin-right-3 {
  margin-right: 3rem;
}

.u-margin-right-4 {
  margin-right: 4rem;
}

.u-margin-right-5 {
  margin-right: 5rem;
}

.u-margin-right-6 {
  margin-right: 6rem;
}

.u-margin-right-7 {
  margin-right: 7rem;
}

.u-margin-right-8 {
  margin-right: 8rem;
}

.u-margin-right-9 {
  margin-right: 9rem;
}

.u-margin-right-10 {
  margin-right: 10rem;
}

.u-margin-left-1 {
  margin-left: 1rem;
}

.u-margin-left-2 {
  margin-left: 2rem;
}

.u-margin-left-3 {
  margin-left: 3rem;
}

.u-margin-left-4 {
  margin-left: 4rem;
}

.u-margin-left-5 {
  margin-left: 5rem;
}

.u-margin-left-6 {
  margin-left: 6rem;
}

.u-margin-left-7 {
  margin-left: 7rem;
}

.u-margin-left-8 {
  margin-left: 8rem;
}

.u-margin-left-9 {
  margin-left: 9rem;
}

.u-margin-left-10 {
  margin-left: 10rem;
}

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  /*[] - attribute selector
  ^= - start with
  $= - end with
  *= - contains
  */
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  /*Used to show pseudo elements*/
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 6rem) / 3) + 6rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 6rem) / 4) + 6rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem
    );
}

.header {
  position: relative;
  height: 95vh;
  /*The nearest image or to : will be at the top*/
  background-image: linear-gradient(to bottom right, rgba(120, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  /*Make the background always stays the top*/
  background-position: top;
  /*Defines how the polygon or shape should be. Its start from the left to right on the x y axis*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  text-align: center;
  position: absolute;
  /* Are related to the parent element */
  top: 40%;
  left: 50%;
  /*Centers the element*/
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  height: 95vh;
  /*The nearest image or to : will be at the top*/
  background-image: linear-gradient(to bottom right, rgba(120, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  /*Make the background always stays the top*/
  background-position: top;
  /*Defines how the polygon or shape should be. Its start from the left to right on the x y axis*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  text-align: center;
  position: absolute;
  /* Are related to the parent element */
  top: 40%;
  left: 50%;
  /*Centers the element*/
  transform: translate(-50%, -50%);
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  /*On the Y axis things moves from the top to the bottom
  so a negative value moves in the up direction*/
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  /*to make an element disappear*/
  opacity: 0;
}
.btn:active {
  /*When click an elements it is the active state.*/
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  /*The after sudo element needs a content property are it is not
  going to appear*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #ffffff;
  color: #999;
}
.btn--white::after {
  background-color: #ffffff;
}
.btn--animated {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  /*Applies styles before the animation starts*/
  animation-fill-mode: backwards;
}
.btn--invert {
  filter: invert(1);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  /*Moves the element up*/
  margin-top: -25vh;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*Positive goes to right and negative goes to the left*/
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    /*Positive goes to right and negative goes to the left*/
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*# sourceMappingURL=style.css.map */
