.section-about {
  background-color: $light-gray;
  padding: 25rem 0;
  /*Moves the element up*/
  margin-top: -25vh;
}
.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  @include background_gradient_with_image(
    "../img/nat-4.jpg",
    $light-green,
    $dark-green
  );
  background-size: cover;
  transform: skewY(-7deg);
  /*Selects all of the direct children*/
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $light-gray;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
